<h2>Welcome to Asciinough-Questions</h2>

{{new-question saveQuestion="saveQuestion"}}

<h4>Here are some questions:</h4>

{{#each model.questions as |question|}}
  {{question-tile question=question}}
{{/each}}



<h2>All Answers</h2>
<ul>
{{#each model.answers as |answer|}}
<li>{{answer.answer}} from {{answer.name}} {{answer.level}} </li>
{{/each}}
</ul>
